* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  margin:0;
  padding:0;
  border: 1px solid black;
}
body {

}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0B0F43;
}

h1{
  color: white;
  margin: 10px;
}

h1 span {
  color: #FFC200;
}

.button-and-search {
}

.search {
  height: 40px;
}

.left-bottom,
.task-buttons,
.left-top {
  width: 100%;
}

main {
  display: flex;
}

.section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #48869A;
  color: white;
  text-align: left;
}

form,
.left-bottom {
  flex-direction: column;
  align-items: center;
  display: flex;
}

h5,
.section-left input {
  width: 95%
}

.section-left button {
  width: 95%;
  background-color: #0B0F43;
  color: white;
}

.section-right {
  flex: 2;
}
